/* Movil
----------------------------------*/
body {
  width: 100%;
  height: 100%;
}

/*Classes
-----------------------------------------------------------*/

.section {
  width: 90%;
  margin: 0 5%;
}

.wideSection {
  width: 90%;
  margin: 0 5%;
}

.box {
  width: 100%;
  margin-top: 20px;
}

.boxesContainer {
  flex-direction: column;
}

/* Nav Bar 
-----------------------------------------------------------*/

nav {
  height: 80px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#homePage ul,
#homePage a,
#projectPage ul,
#projectPage a,
#contactPage ul,
#contactPage a {
  display: none;
}

nav .circleLogo {
  width: 80px;
  grid-area: 1/2;
  justify-self: center;
}

#menuResponsive a {
  display: flex;
  margin: 15px 0;
}

#menuResponsive img {
  position: relative;
  width: 25px;
}

#menuResponsive {
  display: flex;
  position: absolute;
  top: 24px;
  left: 5%;
  padding: 5px 0 20px 15px;
  flex-direction: column;
  background-color: #f4f6fc;
  width: 30px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
  transition: all 500ms ease-out;
  z-index: +2;
}

#homePage #contactResponsive,
#projectPage #contactResponsive,
#contactPage #contactResponsive {
  display: contents;
  position: relative;
}

#contactResponsive img {
  grid-area: 1 / 3;
  width: 40px;
  top: 0px;
  justify-self: flex-end;
}

#menuResponsive:hover {
  width: 80px;
  height: 160px;
  border: 2px solid #6b708d;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

/*Projects Section
-----------------------------------------------------------*/

#homePage .projectsSection h3 {
  width: 100%;
  margin: 80px 0 13px 0;
  text-align: center;
}

.projectsSection img {
  display: none;
}

.project-box {
  height: 150px;
  overflow: hidden;
  background-image: url(/projects-section/1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsSection .boxesContainer div:nth-child(1) {
  background-image: url(/projects-section/1.jpg);
}
.projectsSection .boxesContainer div:nth-child(2) {
  background-image: url(/projects-section/2.jpg);
}
.projectsSection .boxesContainer div:nth-child(3) {
  background-image: url(/projects-section/3.jpg);
}

.project-box h5 {
  margin: 0;
  font-weight: 600;
  color: #f2f4fc;
  text-shadow: 0px 0px 3px #072ac8;
}

.project-box p {
  display: none;
}

#homePage #projects a {
  display: block;
  position: absolute;
  color: transparent;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
}

#projectPage .projectsSection .project-box a {
    display: block;
    position: absolute;
    color: transparent;
    width: 100%;
    height: 150px;
    left: 0;
    top: 0;
}

/* CTA Section
---------------------------------------------------------*/

#CTASection {
  height: 250px;
  margin-top: 30px;
  margin-bottom: 80px;
}

#CTASection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CTASection button {
  width: 150px;
  height: 40px;
  margin: 15px 0;
}

#CTASection h3 {
  text-align: center;
  margin-bottom: 15px;
}

#CTASection p {
  display: none;
}

#CTASection > div {
  width: 80%;
}

#emailForm {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: white;
}

#emailForm img {
  display: none;
}

#emailForm input {
  text-align: center;
}

/*Footer
-----------------------------------------------------*/

footer {
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

footer div:nth-child(1) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .circleLogo {
  margin: 40px 0 20px 0;
}

footer div:nth-child(2) {
  width: 100%;
  height: 100%;
}

#homePage footer a {
  text-align: center;
  margin: 20px 0;
  display: grid;
}
