/* Movil
----------------------------------*/
body {
    width: 100%;
    height: 100%;
}

/*Classes
-----------------------------------------------------------*/


.section {
    width: 90%;
    margin: 0 5%;
}

.wideSection {
    width: 90%;
    margin: 0 5%;
}

.box {
    width: 100%;
    margin-top: 20px;
}

.boxesContainer {
    flex-direction: column;
}

/* Nav Bar 
-----------------------------------------------------------*/

nav {
    height: 80px;
    justify-content: center;
}
#menuButton {
    height: 30px;
    display: flex;
    position: absolute;
    left: 5%;
    top: 25px;
    width: 20px;
    background-image: url(/responsive-img/hamburguerButton.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

#homePage ul, #homePage a {
    display: none;
}

nav .circleLogo {
    width: 80px;
}

/* estado final transicion
    #menuResponsive a {
        display: flex;
        margin:15px 0;
    }
    
    #menuResponsive {
        display: flex;
        position: fixed;
        left: 0;
        top:20px;
        padding: 30px 0 20px 20px;
        flex-direction: column;
        background-color:#D1EDFF;
        width: 30%;
        border: 2px solid #6B708D;
        border-radius: 5%;
    }

    #menuButton {
        background-color: #D1EDFF;
    }




/*Projects Section
-----------------------------------------------------------*/

#homePage .projectsSection h3 {
    width: 100%;
    margin: 23px;
}

.projectsSection img  {
    display: none;
    
}

.project-box {
    height: 150px;
    overflow: hidden;
    background-image: url(/projects-section/1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.projectsSection .boxesContainer div:nth-child(1){
    background-image: url(/projects-section/1.jpg);
}
.projectsSection .boxesContainer div:nth-child(2){
    background-image: url(/projects-section/2.jpg);
}
.projectsSection .boxesContainer div:nth-child(3){
    background-image: url(/projects-section/3.jpg);
}

.project-box h5 {
    margin: 0;
    font-weight: 600;
    color:#f2f4fc;
    text-shadow: 0px 0px 3px #072ac8;
  
}

.project-box p {
    display: none;
}

/* CTA Section
---------------------------------------------------------*/

#CTASection {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 80px;
}

#CTASection form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CTASection button {
    width: 150px;
    height: 40px;
    margin: 15px 0;
}

#CTASection h3 {
    text-align: center;
    margin-bottom: 15px;
}

#CTASection p {
    display: none;
}

#CTASection > div {
    width: 80%;
}

#emailForm {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: white;
}

#emailForm img {
    display: none;
}

#emailForm input {
    text-align: center;
}

/*Footer
-----------------------------------------------------*/

footer {
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}

footer div:nth-child(1){
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .circleLogo {
    margin: 40px 0 20px 0;
}

footer div:nth-child(2){
    width: 100%;
    height: 100%;
}

#homePage footer a{
    text-align: center;
    margin: 20px 0;
    display: grid;
}
