#contactForm h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}

#contactForm form {
    display: flex;
    flex-direction: column;
}

form label {
    align-self:flex-start;
    margin: 0
}

form input {
    margin-bottom: 15px;
}

form button {
    margin-bottom: 30px;
}