/* Hero Section
---------------------------------------------------------*/

#heroSection {
  margin-top: 80px;
  display: flex;
  height: 650px;
  align-items: center;
}

#heroSection article {
  width: 45%;
  height: 422px;
}

#heroGuy {
  width: 55%;
  height: 650px;
  background-image: url(/hero-section/hero-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#heroGuy img {
  width: 68%;
  position: absolute;
}

#heroGuy img:nth-child(1) {
  left: -18%;
  top: -5%;
}

#heroGuy img:nth-child(2) {
  bottom: -20%;
  right: -20%;
}

#heroSection article div {
  display: flex;
  align-items: center;
}

#heroSection p {
  width: 90%;
  margin: 30px 0 40px 0;
}

#heroSection > article > div a:nth-child(2) {
  margin-left: 40px;
}

/* Client Section 
----------------------------------------------------------*/

#clientSection {
  display: flex;
  justify-content: space-between;
  margin: 130px 10% 200px 10%;
}

#clientSection img {
  filter: grayscale(100%);
}

#clientSection img:hover {
  transition-property: filter;
  transition-duration: 300ms;
  filter: grayscale(0%);
}

/*Testimonial Secion
----------------------------------------------------------*/

#testimonialSection {
  height: 622px;
  background-color: #292e47;
  background-image: url(/testimonial-section/orbit.png);
  background-size: contain;
  display: grid;
  grid-template: 32% 36% 32% / 17% 66% 17%;
  margin-top: 200px;
}

.emoji {
  width: 150px;
}

#testimonialSection .emoji:nth-child(1) {
  grid-area: 1;
  align-self: flex-end;
  justify-self: flex-end;
}

#testimonialSection .emoji:nth-child(2) {
  grid-area: 1 / 3;
  align-self: flex-end;
}

#testimonialSection .emoji:nth-child(3) {
  grid-area: 3 / 1;
  justify-self: flex-end;
}

#testimonialSection .emoji:nth-child(4) {
  grid-area: 3 / 3;
}

#testimonialSection h3 {
  grid-area: 1/2;
  color: #f4f6fc;
  text-align: center;
  align-self: flex-end;
}

#testimonialSection h5 {
  grid-area: 2/2;
  color: #ffc600;
  line-height: 38.4px;
  width: 590px;
  text-align: center;
  align-self: center;
  justify-self: center;
}

#kristinBox {
  grid-area: 3/2;
  width: 171px;
  height: 50px;
  justify-self: center;
  display: grid;
  grid-template: 1fr 1fr / 30% 70%;
}

#kristinBox img {
  grid-area: 1 / 1 / span 2 / 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#kristinBox p:nth-child(2) {
  grid-area: 1 / 2;
  color: #a2d6f9;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  align-self: center;
  margin-left: 8px;
}

#kristinBox p:nth-child(3) {
  grid-area: 2 / 2;
  color: #f4f6fc;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  align-self: center;
  margin-left: 8px;
}

/*Services Section
----------------------------------------------------*/

#servicesSection {
  margin-top: 200px;
}

#servicesSection h3 {
  margin-bottom: 70px;
}

.services-box {
  height: 420px;
  box-sizing: border-box;
  padding: 30px;
}

.services-box img {
  width: 40px;
}

.services-box div {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  background-color: #ecf7ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-box h5 {
  margin: 30px 0 20px 0;
}
