/* Hero Section
---------------------------------------------------------*/

#heroSection {
  margin-top: 20px;
  flex-direction: column;
  height: 400px;
  align-items: center;
  background-image: url(/hero-section/hero-image.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#heroSection article {
  width: 100%;
  height: 100%;
  text-align: center;
}

#heroGuy {
  background-image: none;
}

#heroSection img {
  position: relative;
  width: 160px;
}

#heroSection img:nth-child(1) {
  left: -60%;
  top: -15%;
  z-index: +1;
}

#heroSection img:nth-child(2) {
  left: -40%;
  top: -50%;
}

#heroSection h1 {
  font-size: 40px;
  line-height: 60px;
  position: absolute;
  text-shadow: 0 0 6px white;
  bottom: 200px;
}

#heroSection p {
  display: none;
}

/* Client Section 
----------------------------------------------------------*/

#clientSection {
  display: none;
}

/*Testimonial Secion
----------------------------------------------------------*/

#testimonialSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-top: 120px;
  box-sizing: border-box;
}

#testimonialSection > img,
#testimonialSection > h3 {
  display: none;
}

#testimonialSection h5 {
  width: 100%;
  margin-bottom: 20px;
}

/*Services Section
----------------------------------------------------*/

#servicesSection {
  margin-top: 40px;
}

#servicesSection h3 {
  margin-bottom: 10px;
  text-align: center;
}

.services-box {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 110px;
  transition: all 150ms ease-out;
}

.services-box h5 {
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 38px;
}

.services-box:hover {
  transition-property: height;
  height: 220px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
