h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 0 0 6px whitesmoke;
}
.projectDetailed {
    background-image: url(/projects-section/1.jpg);
    background-position: center;
    overscroll-behavior-block: contain;
    background-size: cover;
    background-blend-mode: difference;
    overflow: hidden;
    height: 400px;
    transition: height;
    transition-duration: 500ms;
}

#arrow {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ecf7ff70!important;
    position: absolute;
    left: 43%;
    top:  405px;
    background-image: url(/responsive-img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.projectDetailed div {
    flex-direction: column;
    text-align: center;
}

.projectDetailed h5 {
    font-size: 20px;
    text-shadow: 0 0 10px white;
}

.projectDetailed div p{
    font-size: 17px;
    margin-bottom: 15px;
    color: ;
    text-shadow: 0 0 6px whitesmoke;
}

.projectDetailed img:nth-child(4) {
    display: none;
}
.projectDetailed > p, br {
    color: #072AC8;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ecf7ff75!important;
}

#projectPage .projectsSection h3 {
    text-align: center;
    margin-bottom: 15px;
}

#CTASection {
    margin-top: 120px;
}