*{
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 3186px;
    background-color: #F4F6FC;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70.31px;
    color: #292E47;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color: #292E47;    
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;    
    color: #292E47;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6B708D;
}

/*Classes*/

.blueButton {
    background-color: #072AC8;
    width: 150px;
    height: 52px;
    font-family: 'Roboto', sans-serif;

    color: white;
    border: 0;
}

.headline17px {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22.1px;
}


/* Nav Bar 
----------------------------*/

nav {
    width: 1440px;
    height: 122px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin: 0 170px;
}

nav .circleLogo {
    width: 60.53px;
}

nav ul {
    display: flex;
    list-style-type: none;   
}

nav li {
    margin: 0 60px
}

/* Hero Section
----------------------------*/

#heroSection {
    display: flex;
    width: 1100px;
    height: 650px;
    margin-left: 170px;
    align-items: center;
}

#heroSection article {
    width: 530px;
    height: 422px;
}

#heroGuy {   
    width: 570px;
    height: 650px;
    background-image: url(/hero-section/hero-image.png);
    background-size:contain
}

#heroGuy img {
    width: 300px;
}