*{
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 3186px;
    background-color: #F4F6FC;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70.31px;
    color: #292E47;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color: #292E47;    
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;    
    color: #292E47;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6B708D;
}

/*Classes*/

.blueButton {
    background-color: #072AC8;
    width: 150px;
    height: 52px;
    font-family: 'Roboto', sans-serif;

    color: white;
    border: 0;
}

.headline17px {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22.1px;
}

.section {
    width: 1100px;
    margin-left: 170px;
}


/* Nav Bar 
----------------------------*/

nav {
    height: 122px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

nav .circleLogo {
    width: 60.53px;
}

nav ul {
    display: flex;
    list-style-type: none;   
}

nav li {
    margin: 0 60px
}

/* Hero Section
----------------------------*/

#heroSection {
    margin-top: 80px;
    display: flex;
    height: 650px;
    align-items: center;
}

#heroSection article {
    width: 530px;
    height: 422px;
}

#heroGuy {   
    width: 570px;
    height: 650px;
    background-image: url(/hero-section/hero-image.png);
    background-size:contain;
    position: relative;
}

#heroGuy img {
    width: 68%;
    position: absolute;
}

#heroGuy img:nth-child(1) {
    left: -18%;
    top: -5%;
}

#heroGuy img:nth-child(2) {
    bottom: -20%;
    right: -20%;
}

#heroSection article div {
    display:flex;
    align-items: center;
}

#heroSection article > p {
    width: 435px;
    margin: 30px 0 40px 0;
}

#heroSection article div p {
    margin-left: 40px;
}

/* Client Section 
--------------------------*/

#clientSection {
    display: flex;
    justify-content:space-between;
    margin: 130px 170px 200px 170px;
}

#clientSection img {
    filter: grayscale(100%);
}

/*Projects Section
---------------------------*/

#homePage .projectsSection h3 {
    width: 200px;
}

.projectsSection .boxesContainer {
    display: flex;
}

.projectsSection .boxesContainer img {
    width: 340px;
    height: 240px;
}